* {
	box-sizing: inherit;
	margin: 0;
  	padding: 0;
}
html{
	font-size: 62.5%; 
  	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $text_color;
}

//Default Fonts
h1, h2, h3, h4, h5 {
	font-family: $header-font;
	margin: 0;
}
/* Character Styles */
.button{
	border: $steel-blue 2px solid;
	width: 21.1rem;
	padding: 1.75rem 0;
	background-color: unset;
	@include bp-large{
		width: 32.854vw;
		padding: 1.95rem 0;
		@include bp-small{
			width: 82.609vw;
			padding: 1.3rem 0;
		}
	}

}
.round-button{
	border-radius: 21px;
    padding: 0 1.5vw;
    text-align: center;
    box-sizing: border-box;

}
.button-text{
	font-weight: bold;
	font-size: 2rem;
	line-height: 2.7rem;
	text-transform: uppercase;
	@include bp-large{
		font-size: 1.9rem;
		line-height: 2.6rem;
		
	}
}
.title {
	font-style: normal;
	font-weight: bold;
	font-size: 8rem;
	line-height:9rem;
	letter-spacing:0;
	color: $steel-blue;
	@include bp-large{
		font-size: 5rem;
		line-height: 6.8rem;
		@include bp-small{
			font-size: 4rem;
			line-height: 5rem;
		}
	}
	}
	h1 {
	font-style: normal;
	font-weight: bold;
	font-size:5rem;
	line-height:6rem;
	letter-spacing:0;
	color: $aa-gray;
	}
	h2 {
	font-style:normal;
	font-weight:normal;
	font-size: 3.5rem;
	line-height: 4.7rem;
	letter-spacing: 0.35rem;
	color: $charcoal-blue;
	text-transform: uppercase;
	@include bp-large{
		font-size: 2rem;
		line-height: 2.7rem;
		letter-spacing: .2rem;
	}
	}
	h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 3rem;
	line-height: 4.1rem;
	color: $charcoal-blue;
	@include bp-large{
		font-size: 2.2rem;
		line-height: 3.2rem;
	}
	}
	
	h4 {
	font-weight:bold;
	font-size: 2.2rem;
	line-height: 3.5rem;
	color: $slate;
	}
	.text-link {
	font-weight: bold;
	font-size:  2rem;
	line-height: 3.6rem;
	color: $charcoal-blue;
	
	}
	a.currentlyActive
	{
		text-decoration: underline;
		color: $charcoal-blue;
	}
	h5 {

	font-weight: bold;
	font-size: 2rem;
	line-height: 3.5rem;
	color: $aa-gray;
	@include bp-large{
		font-size: 1.8rem;
		line-height: 3rem;
		@include bp-small{
			line-height: 2.6rem;
			font-size: 1.6rem;

		}
	}
	}
	.body {
	font-size: 2rem;
	line-height: 3.5rem;
	color: $charcoal-blue;
	@include bp-large{
		line-height:3.5rem;
		font-size: 1.8rem;
		@include bp-small{
			line-height: 3.1rem;
			font-size: 1.6rem;
		}

		}
	}
	.bold{
		font-weight: bold;
	}
	

//Links
a {
	font-weight: bold;
	text-decoration: none;
	color: $primary_color;
	@include transition(color);
	&:hover, &:active, &:focus {
		color: darken($primary_color,15%);
	}
}

//Images 
img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

//Form Inputs
input[type="text"],input[type="email"],input[type="number"],textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	&:active, &:focus {
		outline: 0;
	}
	&.submit {
		white-space: normal;
	}
}
button {
	&:active, &:focus {
		outline: 0;
	}
}
