//Color Variables
$aa-gray: #5F5F5F;
$white: #FFFFFF;
$pearl: #EDEDED;
$iron: #939598;
$steel-blue: #5387A2;
$charcoal-blue: #2D474F;
$slate: #33464E;
$red: #D30000;
$form: #BBBCBE;
//Theme colors
$text_color: $charcoal-blue;
$primary_color: $white;
$secondary_color: $charcoal-blue;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Transition
$transition_duration: .2s;
//Fonts
$header-font: 'Open Sans', sans-serif;;
$body-font: 'Open Sans', sans-serif;;