@import "vars.scss";
@import "mixins.scss";

#application{
  input{ 
    position: relative;
    &:focus::placeholder {
      color: transparent;
    }
  }
  padding: 0 14.271vw;
  @include bp-large{
     padding: 0 8.696vw;
  }
  .title{
      padding-top: 26rem;
      padding-bottom: 4rem;
      text-align: center;
      @include bp-large{
          padding-top: 15rem;
          padding-bottom: 2.2rem;
      }
  }
  .text{
    max-width: 108.8rem;
    margin: 0 auto;
    padding-bottom:5rem;
    @include bp-large{
      text-align: center;
      padding-bottom: 4.2rem;
    }
  }
  .form{
    max-width: 136.4rem;
    margin: 0 auto;
   
    .form-field{
      display: flex;
      flex-direction: column;
      .label{
        @include bp-small{
          padding-bottom: 1.4rem;
          font-size: 1.8rem;

        }
      }
      .loan-type{
        display: flex;
        flex-direction: row;
        max-width: 133.9rem;
        justify-content: space-between;
        position: relative;
        padding-bottom:3.5rem;
        @include bp-medium{
          flex-direction: column;
          max-width: unset;
          padding-bottom:2rem;
        }
        .option{
          width:49.4%;
          padding: 1.2rem 0;
          border: 2px solid $form;
          border-radius: .7rem;
          color: $aa-gray;
          text-align: center;
          display: flex !important;
          align-items: center;
          flex-direction: row;
          justify-content: center;
          margin-top: 0;
          @include bp-medium{
            width: unset;
            margin-bottom: 1rem;
          }
          i {
            margin-right: 11px;
          }
            img{ 
              margin:auto 0;
              height: 2.1rem;
              padding-right: .872rem;
            }
            
          
        }
        input:checked + label{
          border-color: $charcoal-blue;
          background-color: $charcoal-blue;
          color: white;
        }
        #error.error{
          color:$red;
          position: absolute;
          top: 7rem;
          @include bp-medium{
            top:14rem;
          }
          @include bp-small{
            top:13rem;
          }
        }
        .option.error{
          border-color: $red !important;
        }
      }
      .property-loc{
        display: grid !important;
        grid-template-columns: 49.4% 19.6% 14.5% 14.5%;
        max-width: 133.9rem;
        justify-content: space-between;
        position: relative;
        margin-bottom:3.5rem;
        @include bp-medium{
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          margin-bottom: 2rem;
          .one{
            grid-column: 1 / span 3;
            grid-row: 1 / 0;
            margin-bottom: 1rem;
          }
          .two{
            grid-column: 1 / span 3;
            grid-row: 2 / 0;
            margin-bottom: 1rem;

          }
          .three{
            width: 98%;
            height: 5.7rem;
            
          }
          .four{
            width: 98%;
            height: 5.7rem;
            justify-self: end;

          }
        }
        select{
            background-color: unset; 
        }
        .three{
          color: $iron;
        }
        select.valid{
          color: $charcoal-blue;
        }
        select.error{
          border-color:$red!important;
        }
        input, select{
          padding: 1.2rem 0;
          border: 2px solid $form;
          border-radius: .7rem;
          padding-left: 2.4rem;
          @include bp-medium{
            padding-left: 1.8rem;
          }
        }
        
        input.error{
          border-color: $red;
        }
        label.error{
          position: absolute;
          color: $red;
          top: 7rem;
          @include bp-medium{
            top:21rem;
          }
          @include bp-small{
            top:20rem;
          }
          
        }
        
      }
      .down-pay{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 133.9rem;
        margin-bottom: 4rem;
        @include bp-medium{
          flex-direction: column;
          padding-bottom: 0rem;
        }
       
          input{
            width:49.7%;
            padding: 1.2rem 0;
            border: 2px solid $form;
            border-radius: .7rem;
            padding-left:2.4rem;
            @include bp-medium{
              width: 100%;
              padding-left: 1.8rem;
              
            }
            
          }
          input.one{
            @include bp-medium{
              margin-bottom: 1rem;
            }
              
          }
          input.error{
            border-color:$red; 
          }
          label.error{
            color: $red;
            position: absolute;
            top: 7rem;
            @include bp-medium{
              top: 14rem;
            }
            @include bp-small{
              top: 13rem;
            }
           }

    
      

      }
      .button-options{
        display: grid !important;
        grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
        max-width: 133.9rem;
        justify-content: space-between;
        position: relative;
        margin-bottom: 3.5rem;
        @include bp-medium{
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          margin-bottom: 2rem;
          .one{
            width: 98%;

          }
          .two{
            width: 98%;
            justify-self: end;

          }
          .three{
            width: 98%;
            margin-bottom: unset;
            height: 5.9rem;
          }
          .four{
            width: 98%;
            justify-self: end;
            height: 5.9rem;
            


          }
        }
      .option{
        padding: 1.2rem 0;
        border: 2px solid $form;
        border-radius: .7rem;
        color: $aa-gray;
        
        margin-top: 0;
        margin-bottom:1rem;
        text-align: center;
        display: inline !important;
     }
     input:checked + label.option{
      border-color: $charcoal-blue;
      background-color: $charcoal-blue;
      color: white;
     }
     label.error{
       border-color: $red;
     }
     #error.error{
      color: $red;
      position: absolute;
      top: 7rem;
      @include bp-medium{
        top: 14rem;
      }
      @include bp-small{
        top: 13rem;
      }
     }
      }
     

    }
    #form-field{
      position: relative;
      textarea{
        max-width: 133.9rem;
        border: 2px solid $form;
        border-radius: .7rem;
        margin-bottom: 3.5rem;
        padding-left: 2.4rem;
        font-family: $body-font;
        padding-top: 1.2rem;
        @include bp-medium{
          padding-left: 1.8rem;
        }

      }
      input.single-input{
        max-width: 133.9rem;;
        padding: 1.2rem 0;
        border: 2px solid $form;
        border-radius: .7rem;
        margin-bottom: 3.5rem;
        padding-left: 2.4rem;
        @include bp-medium{
          padding-left: 1.8rem;
        }
      }
         
        input.error{
          border-color: $red;
        }
        label.error{
          color: $red;
          position: absolute;
          top: 10.5rem;
        }

     }

     button{
      margin: 3rem auto 5.6rem auto;
      display: flex;
      justify-content: center;
      width: 30.9rem;
      background-color: $charcoal-blue;
      border-color: $charcoal-blue;
      color: $white;
      @include bp-medium{
        margin: .5rem auto 4.8rem auto;
      }
      
     @include bp-small{
      margin: 0 auto 4.834rem auto;
      width: 82.609vw
     }
     &:hover{
      border: $steel-blue 2px solid;
      margin: 3rem auto 5.6rem auto;
      width: 30.9rem; 
      background-color: white;
      color: $charcoal-blue;
      @include bp-small{
        margin: 0 auto 4.834rem auto;
        width: 82.609vw
       }
    }
     }
     .single-input{
       @include bp-medium{
         margin-bottom: 3rem;
        
       }
     }
  }

.success{
  display: none;
  .success-message{
      display: flex;
      margin: 0 auto;
      margin-bottom: 13.1rem;
      flex-direction: row;
      max-width: 56.5vw;
      align-content: center;
      align-items: center;
      justify-content: center;
  @include bp-large{
      flex-direction: column;
      max-width: 77.536vw;
     
      p{
          text-align: center;
      }
      @include bp-medium{
        margin-bottom: 8.4rem;
      }
  }
  .background{
    background-color: #E9E8E8;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    @include bp-large{
      margin-right: unset;
      margin-bottom: 2.141rem;
  }
  

  }

 
  }
  
}
}