@import "vars.scss";
@import "mixins.scss";

#loan-options{
    padding: 0 7.292vw;
    padding-top:13.921rem;
    @include bp-large{
        padding-top: 15.67rem;
    }
    .intro{
        padding-top: 8rem;
        padding-bottom: 3.8rem;
        .title{
            letter-spacing: -0.1rem;
            text-align: center;
            @include bp-large{
                text-align: left;
            }
        }
       
        
    }
    .options{
       
        .option{
            border-bottom: 1px gray solid;
            
            h3{
                padding-bottom: 2rem;
                letter-spacing: -.1rem;
                padding-top: 3.9rem;
                
                 
            }
            .sub-title{
                padding-bottom: 1rem;
            }
            .content{
                padding-bottom: 3.2rem;
                max-width: 81.823vw;
            }
            .button{
                background-color: $charcoal-blue;
                color: $white;
                border: $charcoal-blue;
                
                margin-top: 4.4rem;
            }
            .expand{
                color: $charcoal-blue;
                padding-top: 2.1rem;
                padding-bottom: 4.4rem;
                display: inline-block;
                font-weight: bold;
            }
        }
       
    }
}