---
title: Home Page
description: Are you ready for spartan funding with no frills and no secrets? Then
  our team is for you.
meta_img: "/img/home/estreet_spartan_funding_logo-color.png"
layout: default
permalink: "/"
css: home
hero:
  heading1: Are you
  heading2: Spartan?
  text: Do you like things simple, with no frills, only smooth transactions? Then,
    you are Spartan. We work with clients who are ready to attack their goals with
    our straightforward process. If you want to be Spartan and get your coins in a
    row, we’re here to help you as well.
options:
  loan: See what loan options are available to you.
  list:
  - what: i'd like to
    type: Purchase
    img: "/img/home/house.jpg"
    href: "/purchase/"
  - what: i'd like to
    type: Refinance
    img: "/img/home/signature.jpg"
    href: "/refinance/"
reviews: 
 - 
  rating: /img/home/stars.svg'
  review: "“Eric did a fantastic job on our recent home purchase. Closed faster than
  the contract date and he also fixed an item on our credit that we had been trying
  to remedy for months. Highly recommend!”"
contact: Are you ready to talk to a Spartan?

---
<div id="home">
  <div class='hero'>
    <div class='text'>
      <h2 class='intro'>{{ page.hero.heading1 }}</h2>
      <h1 class='title'>{{ page.hero.heading2 }}</h1>
      <p class='body'>{{ page.hero.text }}</p>
      <a href='/apply/'><button class='button-text button'>APPLY TODAY</button></a>

    </div>
    <div class='image'>
      <img  alt='' src='/img/home/Mask Group 1.png'>
    </div>
  </div>
  <div id= 'options'>
    <div class='options'>
    {% for item in page.options.list %}
    <div class='type'>
      <h2 class='item'>{{ item.what }}</h2>
      <h1 class='title'>{{ item.type }}</h1>
      <button class='button-text button-white' onclick="location.href='{{item.href }}'" >Learn More</button>
    </div>
    {% endfor %}
  </div>
    <div class='loan'>
      <a href='/loan-options/'><p class='text-link'>{{ page.options.loan }} <img class='arrow' alt='arrow' src='/img/home/arrow.svg'></a></p>
      
    </div>
  </div>
 <div class='rating'>
    {% for review in page.reviews %}
      <div class='stars'>
        <img alt='rating' src='{{review.rating}}'>

      </div>
      <div class='reviews'>
        <p class='body'>{{ review.review}}</p>
    
      </div>
    {% endfor %}
  </div>
  <div id='contact'>
    <div class='contact'>
    
       <h3>{{ page.contact }}</h3>
       <a href='/contact-us/'><button class='button-text button'>contact us</button></a>
      </div>
  </div>
</div>
