<div id='footer'>
    <div id='float'>
        <img class='float' src='/img/home/footer.png'>
    </div>
    <div class='company'>
        <div class='img'>
            <img src='/img/home/white-logo.png'>
        </div>
        <div class=text>
            <p class='large-body'><span class='large-body-bold'>Spar·​tan, </span>noun</p>
            <p class='large-body italic'>: a person seeking a smooth transaction; offering a straightforward process with competitive rates.</p>
        </div>

    </div>
    <div class='list'>
        <div class='links'>
            <p class='text-link'>Apply</p>
            <p class='text-link'> Services</p>
            <p class='text-link'>Contact</p>
        </div>
        <div class='address'>
            <p >80 Blue Ravine Road, Suite 100</p>
            <p>Folsom, CA 95630</p>
        </div>
        <div class='phone'><p>CALL OR TEXT <b> &nbsp 916.835.6084</b></p></div>
        <div class='social'>
            <img class='logo' src='/img/home/Twitter.png'>
            <img class='logo' src='/img/home/Instagram.png'>
            <img class='logo' src='/img/home/Facebook.png'>
            <img class='logo' src='/img/home/Linkedin.png'>
        </div>

    </div>

</div>