<div id='footer'>
    <div id='float'>
        <img class='float' alt='' src='/img/footer/footer-icon.svg'>
    </div>
    <div class='company'>
        <div class='img'>
            <a href='/'><img  alt= 'logo' src='/img/footer/white-logo.svg'></a>
        </div>
        <div class=text>
            <p class='body'><span class='body bold'>Spar·​tan, </span>noun</p>
            <p class='body italic'>: a person seeking a smooth transaction; offering a straightforward process with competitive rates.</p>
        </div>

    </div>
    <div class='list'>
        <div class='links'>
            <a href="/apply/"><p class='body bold' href="/purchase/">Apply</p></a>
            <a href="/services/"><p class='body bold'> Services</p></a>
            <a href="/contact-us/"><p class='body bold'>Contact</p></a>
        </div>
        <div class='address'>
            <a href='https://www.google.com/maps/place/80+Blue+Ravine+Rd+%23100,+Folsom,+CA+95630/@38.6535677,-121.1919339,17z/data=!3m1!4b1!4m5!3m4!1s0x809ae69449b3c8ed:0x7da39c887625744c!8m2!3d38.6535635!4d-121.1897399'><p >80 Blue Ravine Road, Suite 100</p></a>
            <p>Folsom, CA 95630</p>
        </div>
        <div class='phone'><p>CALL OR TEXT <b> &nbsp 916.835.6084</b></p></div>
        <div class='social'>
            
            <a href='https://www.twitter.com/'>{% include svg/twitter.svg %}</a>
            <a href='https://www.instagram.com/spartanfundingca/'>{% include svg/instagram.svg %}</a>
            <a href='https://www.facebook.com/spartanfundingca/'>{% include svg/facebook.svg %}</a>
            <a href='https://www.linkedin.com/in/ericengman'>{% include svg/linkedin.svg %}</a>
        </div>

    </div>

</div>