<nav id='nav' class='nav is-visible' data-nav-status="toggle">

    <div class=logo> 
    <a href='/'> <img alt='logo' src='/img/nav/logo-color.svg'></a></div>
    <div class='menu'>
        <div class='services'>
            <a class='text-link'>SERVICES</a>
                <div class="dropdown">
                    <a href="/purchase/"> <p class='text-link'>PURCHASE</p></a>
                    <a href="/refinance"><p class='text-link'>REFINANCE</p></a>
                    <a href="/loan-options/"><p class='text-link'>LOAN OPTIONS</p></a>
                    <a href="#" class="open-calc"><p class='text-link'>MORTGAGE CALCULATOR</p></a>
                 </div>
            <img class='arrow' alt='' src='/img/nav/triangle.svg'>
        </div>
        <a href="/about/"><p class='text-link'>ABOUT</p></a>
        <a  href="/contact-us/"> <p class='text-link'>CONTACT</p></a>
        <a class='round-button' href="/apply/"><p class='text-link'>APPLY</p></a> 

    </div>


    <div class='hamburger-menu'>
        <!-- <img class='hamburger-logo' alt='menu' src='/img/nav/menu.png'> -->
        
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
       
    </div>


    <div class='slide hide' >
        <!-- <div class='exit 0'><img  alt='exit-meu' src=/img/nav/exit.png></div> -->
        <div class='mobile'>
            <div class='arrow 0'>
                <a class='text-link '>SERVICES</a>
                <img class='img' alt='' src='/img/nav/white-triangle.svg'>
            </div>
                <div class="dropdown-mobile">
                    <a class='text-link pop' href="/purchase/">PURCHASE</a>
                    <a class='text-link pop' href="/refinance">REFINANCE</a>
                    <a class='text-link pop' href="/loan-options/">LOAN OPTIONS</a>
                    <a class='text-link pop open-calc' href="#">MORTGAGE CALCULATOR</a>
                 </div>
        </div>
        <a class='text-link' href="/about/">ABOUT</a>
        <a class='text-link' href="/contact-us/"> CONTACT</a>
       
        <a href="/apply/"><button class='button-white button-text' href="/apply/">apply</button></a>
    </div>
</nav>