<nav id='nav' class='nav is-visible' data-nav-status="toggle">
    
    <div class=logo> 
        <img src='/img/home/logo-color.png'></div>
    <div class='menu'>
        <div class='services'>
            <a class='text-link'>SERVICES</a>
                <div class="dropdown">
                    <a class='text-link'href="/purchase/">PURCHASE</a>
                    <a class='text-link'href="/refinance">REFINANCE</a>
                    <a class='text-link'href="/loan-options/">LOAN OPTIONS</a>
                 </div>
            <img class='arrow' src='/img/nav/drop-down.png'>
        </div>
        <a class='text-link'href="/about/">ABOUT</a>
        <a class='text-link'> CONTACT</a>
        <a class='text-link round-button'>APPLY</a> 
    </div>


    <div class='hamburger-menu'>
        <img class='hamburger-logo' src='/img/nav/menu.png'>
    </div>
    <div class='show' >
        <div class='exit 0'><img src=/img/nav/exit.png></div>
        <div class='mobile'>
            <div class='arrow 0'>
                <a class='text-link '>SERVICES</a>
                <img class='img' src='/img/nav/white-arrrow.png'>
            </div>
                <div class="dropdown-mobile">
                    <a class='text-link pop' href="/purchase/">PURCHASE</a>
                    <a class='text-link pop' href="/refinance">REFINANCE</a>
                    <a class='text-link pop' href="/loan-options/">LOAN OPTIONS</a>
                 </div>
        </div>
        <a class='text-link' href="/about/">ABOUT</a>
        <a class='text-link'> CONTACT</a>
       
        <button class='button button-text'>apply</button>
    </div>
</nav>